/* Universal */

body, html {
  overflow-x: hidden;
}

/* Colour */

:root {
  --h-f-bg-colour: black;
  --h-f-text-colour: white;
  --main-bg-colour: white;
  --main-text-colour: black;
  --accent-colour: palevioletred;
  --contrast-text-colour: black;
  --contrast-bg-colour: rgba(255, 241, 247, 0.66);
  /* contact */
  --color-primary: #f9fafb;
  --color-secondary: #111827;
  /* contact font-weight */
  --fw-regular: 400;
  --fw-bold: 700;
}

.black-background {
  background-color: var(--h-f-bg-colour);
}

.white-background {
  background-color: var(--main-bg-colour);
}

.on-black-background {
  color: var(--h-f-text-colour);
  text-decoration: none;
}

.on-white-background {
  color: var(--main-text-colour);
  text-decoration: none;
}

.contrast-text {
  color: var(--contrast-text-colour);
  background-color: var(--contrast-bg-colour);
}

@keyframes link-hover {
  from {color: var(--h-f-text-colour);}
  to {color: var(--accent-colour);}
}

.current {
  color: var(--accent-colour);
}

.link:hover {
  animation-name: link-hover;
  animation-duration: 1s;
}


/* Display: Flex / Grid */

.row {
  display: flex;
  gap: 1rem;
  max-width: 100vw;
  }

@media (min-width: 900px) {
  .row {
    display: flex;
    gap: 10rem;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-down {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.justify-center {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-self-center {
  align-self: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-right: -1rem;
}

.grid-one {
  grid-row: 1;
}

@media (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-right: -1rem;
  }
  .grid-one {
    grid-column: 1;
  }

  .grid-two {
    grid-column: 2;
  }
}


/* Text / fonts */

.text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.smaller-font {
  font-size: 1.5vmax;
  font-weight: normal;
}

@media (min-width: 1000px) {
  .smaller-font {
    font-size: 1vmax;
    font-weight: normal;  
  }
}

.medium-font {
  font-size: 2.9vmax;
  font-weight: normal;
}

@media (min-width: 1000px) {
  .medium-font {
    font-size: 1.7vmax;
    font-weight: normal;
  }
}

.large-font {
  font-size: 5vmax;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--accent-colour);
}

@media (min-width: 1000px) {
  .large-font {
    font-size: 3vmax;
  }
}

.bold-font {
  font-size: 1.6vmax;
  font-weight: bold;
}

.btn-font {
  font-size: 2.9vmax;
  font-weight: bold;
}

@media (min-width: 1000px) {
  .bold-font {
    font-size: 1.3vmax;
  }
  .btn-font {
    font-size: 1.7vmax;
  }
}

.landing-title {
  font-size: 5vmax;
  margin-left: 3rem;
  margin-right: auto;
  padding: 0.66rem;
  max-width: 70%;
}

.landing-subtitle {
  font-size: 3vmax;
  margin-left: 3rem;
  margin-right: auto;
  padding: 0.66rem;
  max-width: 70%;
}

@media (min-width: 1000px) {
  .landing-title {
    font-size: 7vmax;
    margin-left: 18rem;
  }
  
  .landing-subtitle {
    font-size: 2vmax;
    margin-left: 18rem;
  }
}

.text-center {
  text-align: center;
  padding: 2rem;
}

/* Size / Positioning */

.fill-half {
  min-height: 91vh;
  margin: 0 0 0 0;
  padding: 2vmax 5vmax 2vmax 5vmax;
}

@media (min-width: 900px) {
  .fill-half {
    min-height: 85vh;
    margin: 0 0 0 0;
    padding: 2vmax 5vmax 2vmax 5vmax;
  }
}

.no-top-margin {
  margin-top: 0;
  padding-top: 5rem;
}

.no-left-margin {
  margin-left: 0;
}

.margin-bottom {
  margin-bottom: 5rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
  max-width: 25rem;
}

.width-md {
  max-width: 40rem;
}

.width-lg {
  max-width: 55rem;
}

.width-xl {
  max-width: 70rem;
}

.width-full {
  width: 100vw;
  margin: 0;
}

.height-full {
  height: 100vh;
}

.stack-sm > * + * {
  margin-top: 1rem;
}

.stack-md > {
  margin-top: 2rem;
}

.stack-lg > * + * {
  margin-top: 4rem;
}

.stack-xl {
  margin-top: 6rem;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
  margin-right: -1rem;
}

.padded-from-edge {
  padding: 0.5rem;
}

.on-top {
  position: relative;
}

.relative {
position: relative;
}

.absolute {
  position: absolute;
}

.stuck-to-bottom {
  bottom: -5rem;
  margin-right: -5rem;
}

.push-down {
  bottom: -20rem;
}

.pull-up {
  bottom: 0rem;
}

.stuck-to-bottom-with-flex {
  position: relative;
  bottom: -5rem;
  margin-right: -5rem;
} 

/* Specific Elements */

.social-logo {
  height: 1.8rem;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
  margin-bottom: 0;
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.button {
  max-width: 20rem;
  border: solid 0.1rem var(--main-text-colour);
  background-color: var(--main-bg-colour);
}

.profile {
  max-width: 13.5rem;
}

.profile-img {
  width: 18vmax; 
  height: 18vmax;
  object-fit: cover;
  border-radius: 9vmax;
}


.logo {
  position: absolute;
  height: 100%;
  width: auto;
  max-width: 100%;
  top: 0;
  left: 0;
}

/* Contact form */

.form,
.form::after,
.form::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container {
  max-width: 74.375rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.contact-bg {
  padding-bottom: 8rem;
  padding-top: 3em;
}

.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.span-2 {
  grid-column: span 2;
}

.span-2 textarea {
  width: 90%;
  height: 4.75rem;
  border-radius: 8px;
  padding: 0.438rem 0.938rem;
  resize: none;
}

@media (min-width: 900px) {
  .span-2 textarea {
    width: 95.2%;
}
}

.form .subtitle {
  margin-bottom: 0;
}

.form label {
  font: var(--fw-regular) 1rem/1.3;
  display: block;
  margin-bottom: 0.75rem;
}

.asterisk {
  position: relative;
}

.asterisk::after {
  content: "*";
  color: var(--accent-colour);
}

.input {
  border: 1px solid var(--color-secondary);
  padding: 0.438rem 0.938rem;
  width: 90%;
  border-radius: 0.25rem;
}

.input:focus,
.input:focus-visible,
.textarea:focus,
.textarea:focus-visible {
  outline: var(--accent-colour) solid 2px;
  outline-offset: 0;
}

.btn {
  background: var(--main-bg-colour);
  cursor: pointer;
  color: var(--main-text-colour);
  border-radius: 0.25rem;
  text-align: center;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: solid 0.1rem var(--contrast-text-colour);
}

.btn:hover {
  background: var(--accent-colour);
}


/* Mobile devices (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .form {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .span-2 {
    grid-column: initial;
  }
}

@media (max-width: 500px) {
  ul {
    padding-inline-start: 3rem;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .form {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .input {
    font-size: 1rem;
  }
}

/* Tablets (portrait) ----------- */
@media only screen 
and (min-device-width : 765px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .push-down-tablet-s {
    bottom: -25vmax;
  }
  .push-down-tablet-m {
    bottom: -40vmax;
  }
  .push-down-tablet-l {
    bottom: -55vmax;
  }
}

/* Desktop*/
@media only screen and (min-width: 992px) {
  .form {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .input {
    font-size: 1.1rem;
  }
}

